body{
	width: auto;
	font-family: sans-serif;
	background-color:#222f3e ;
	height: auto;

}
.intro{
	width: 50%;
	background-color: white;
	color: black;
	margin-left: auto;
	margin-right: auto;

}
.cover{
	background-color: #c0392b;
	text-align: center;
	padding: 5%;
}
img{
	width: 10%;
	background-color: #222f3e;
	border-radius: 100%;
}
figcaption{
	color: white;
	font-size: 1.2em;
}
.introtext{
	padding: 5%;
	text-align: left;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.2em;
}
#butt{
	display: flex;
	justify-content: space-between;
	background-color:#c0392b ;
	padding: 1%;
}
button{
	background-color: #2C3A47; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    border-radius: 5%;
}
button:hover{
	background-color: #182C61;
}
.alls{
	display: flex;
	align-items: center;
	height: 600px;
}
footer{
	bottom: 0;
	background-color: #c0392b;
	color: white;
	width: 100%;
	position: absolute;
	text-align: center;
	font-size: 1em;
}
@media only screen and (max-width: 900px){
	.intro{
		width: 80%;
	}
	.introtext{
		font-size: 1.1em;
	}
}


